.cms {
  font-family: Arial sans-serif; }

body {
  font-family: 'Abel', sans-serif; }

.site-content nav, .site-content h1, .site-content h2, .site-content h3, .site-content h4, .site-content button {
  font-family: 'Amatic SC', cursive;
  font-weight: bold; }

.site-content nav {
  margin-bottom: 12rem; }
  .site-content nav ul {
    margin: 0; }
    .site-content nav ul li {
      margin: 0;
      border: none;
      padding: 0;
      display: flex;
      border-radius: 0;
      box-shadow: none; }

.site-content label {
  display: block;
  width: 100%;
  margin: 3rem 0rem 0.5rem;
  font-weight: normal; }

.site-content input {
  width: 100%;
  padding: 1.2rem; }

.site-content input[type=radio] {
  width: auto !important; }

.site-content button {
  background: #f2ddf3;
  color: #000;
  font-size: 3rem;
  padding: 1.5rem 8rem;
  border: none;
  border-radius: 0.4rem;
  margin: 2rem 0rem; }
  .site-content button:hover {
    background: #f355b2;
    color: #fff; }

.site-content form .help-text {
  font-style: italic;
  font-size: 1rem; }

.site-content form ul li {
  padding: 0rem;
  display: block;
  border: none;
  margin-bottom: 0.6rem;
  box-shadow: none; }

.site-content p {
  margin-bottom: 3rem; }

.site-content nav {
  border-bottom: 1px solid #ddd;
  margin-bottom: 3rem; }
  .site-content nav ul {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding-left: 0;
    margin-bottom: 0; }
    @media (max-width: 1024px) {
      .site-content nav ul {
        flex-direction: column; } }
    .site-content nav ul li {
      display: flex; }
      .site-content nav ul li.selected {
        background: #f2ddf3;
        border-radius: 0px; }
      .site-content nav ul li a {
        padding: 1.6rem 3rem;
        text-decoration: none;
        font-family: 'Amatic SC', cursive;
        font-weight: bold;
        font-size: 3rem; }

#header {
  -webkit-transition: all 0.6s cubic-bezier(0.85, 0.11, 0.375, 0.88);
  -moz-transition: all 0.6s cubic-bezier(0.85, 0.11, 0.375, 0.88);
  transition: all 0.6s cubic-bezier(0.85, 0.11, 0.375, 0.88); }
  #header #background {
    width: 100%;
    height: 340px;
    background: url(/static/img/header.jpg);
    text-align: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    -webkit-transition: all 0.6s cubic-bezier(0.85, 0.11, 0.375, 0.88);
    -moz-transition: all 0.6s cubic-bezier(0.85, 0.11, 0.375, 0.88);
    transition: all 0.6s cubic-bezier(0.85, 0.11, 0.375, 0.88);
    overflow: hidden; }
    #header #background.scrolled {
      max-height: 16rem;
      -webkit-transition: all 0.6s cubic-bezier(0.85, 0.11, 0.375, 0.88);
      -moz-transition: all 0.6s cubic-bezier(0.85, 0.11, 0.375, 0.88);
      transition: all 0.6s cubic-bezier(0.85, 0.11, 0.375, 0.88); }
      #header #background.scrolled .title {
        -webkit-transform: scale(0.5);
        -moz-transform: scale(0.5);
        -ms-transform: scale(0.5);
        -o-transform: scale(0.5);
        transform: scale(0.5); }
    #header #background .title {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      height: 100%;
      text-shadow: 0px 5px 8px rgba(0, 0, 0, 0.2);
      -webkit-transition: all 0.3s cubic-bezier(0.85, 0.11, 0.375, 0.88);
      -moz-transition: all 0.3s cubic-bezier(0.85, 0.11, 0.375, 0.88);
      transition: all 0.3s cubic-bezier(0.85, 0.11, 0.375, 0.88); }

h1 {
  font-weight: bold;
  font-size: 9rem;
  font-family: 'Amatic SC', cursive; }

h2 {
  font-weight: bold;
  font-size: 6rem;
  font-family: 'Amatic SC', cursive; }

h3 {
  font-size: 4rem;
  font-weight: bold;
  font-family: 'Amatic SC', cursive; }

h4 {
  font-family: 'Amatic SC', cursive;
  font-size: 3rem;
  font-weight: bolder; }

p, a {
  font-size: 1.8rem;
  font-weight: normal;
  color: #111; }

.dish {
  padding: 1.5rem 0.4rem;
  margin-bottom: 2rem;
  box-shadow: 0px 3px 12px rgba(0, 0, 0, 0.11);
  position: relative;
  -webkit-transition: all 0.13s ease;
  -moz-transition: all 0.13s ease;
  transition: all 0.13s ease; }
  .dish:hover {
    -webkit-transform: scale(1.01);
    -moz-transform: scale(1.01);
    -ms-transform: scale(1.01);
    -o-transform: scale(1.01);
    transform: scale(1.01); }
    .dish:hover .food-image {
      background-size: 140%; }
  .dish .food-image {
    width: 100%;
    height: 200px;
    background-size: 100%;
    border: 1px solid #ddd;
    background-position: center center;
    -webkit-transition: all 0.7s ease;
    -moz-transition: all 0.7s ease;
    transition: all 0.7s ease; }
  .dish img {
    border: 1px solid #ddd; }
  .dish h3 {
    margin-top: 0px; }
  .dish .promises {
    display: block;
    position: absolute;
    background: #f2ddf3;
    border: 4px solid #f2ddf3;
    padding: 2.2rem 1.8rem;
    border-radius: 50%;
    font-weight: bold;
    color: #111;
    top: 1rem;
    right: 1rem;
    text-align: center;
    box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.6);
    -webkit-transition: background 0.4s cubic-bezier(0.85, 0.11, 0.375, 0.88);
    -moz-transition: background 0.4s cubic-bezier(0.85, 0.11, 0.375, 0.88);
    transition: background 0.4s cubic-bezier(0.85, 0.11, 0.375, 0.88);
    -webkit-transition: -webkit-transform 0.2s cubic-bezier(0.85, 0.11, 0.375, 0.88);
    -moz-transition: -moz-transform 0.2s cubic-bezier(0.85, 0.11, 0.375, 0.88);
    transition: transform 0.2s cubic-bezier(0.85, 0.11, 0.375, 0.88); }
    .dish .promises small {
      display: block;
      font-size: 12px;
      text-align: center; }
    .dish .promises:hover {
      -webkit-transform: scale(1.02);
      -moz-transform: scale(1.02);
      -ms-transform: scale(1.02);
      -o-transform: scale(1.02);
      transform: scale(1.02); }
    .dish .promises.active {
      background: #f2ddf3;
      -webkit-transform: scale(1.1);
      -moz-transform: scale(1.1);
      -ms-transform: scale(1.1);
      -o-transform: scale(1.1);
      transform: scale(1.1);
      border: 2px dashed #fff;
      box-shadow: -1px 2px 7px rgba(0, 0, 0, 0.1);
      color: #111; }

.modal .modal-dialog .modal-content {
  border-radius: 0;
  border: none; }
  .modal .modal-dialog .modal-content h4 {
    margin-bottom: 4rem; }
    .modal .modal-dialog .modal-content h4 span.dish-name {
      color: #f355b2;
      font-weight: bolder; }

.fade-scale {
  transform: scale(0.85);
  opacity: 0;
  -webkit-transition: all 0.4s cubic-bezier(0.85, 0.11, 0.375, 0.88);
  -o-transition: all 0.4s cubic-bezier(0.85, 0.11, 0.375, 0.88);
  transition: all 0.4s cubic-bezier(0.85, 0.11, 0.375, 0.88); }

.fade-scale.in {
  opacity: 1;
  transform: scale(1); }

.promise {
  border-radius: 50%;
  font-size: 1rem;
  font-weight: bold;
  padding: 0.5rem 0.7rem;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.4);
  display: inline-block;
  text-align: center; }
  .promise.needed {
    background: #f2ddf3; }
  .promise.promised {
    background: #5dc1a7;
    color: #fff; }

.footer {
  padding: 7rem 0rem;
  text-align: center; }
