{% extends "base.html" %}
{% load cms_tags menu_tags %}

{% block content %}

<div class="container">
	<div class="row">
		<div class="col-md-8 col-md-offset-2">
			{% placeholder page_content %}
		</div>
	</div>
</div>
	
{% endblock content %}