{% extends "base.html" %}
{% load cms_tags sekizai_tags %}

{% block content %}
	<div class="container">
		<div class="row">
			<div class="col-xs-12">
				{% placeholder above_map %}
			</div>
		</div>
	</div>

	<div id="map" style="width:100%; height:400px;"></div>

	<div class="container">
		<div class="row">
			<div class="col-xs-12">
				{% placeholder under_map %}
			</div>
		</div>
	</div>

{% addtoblock "js" %}
	<script>
      function initMap() {
        var penny_square = {lat: 51.1547589, lng: -2.4462044};
        var map = new google.maps.Map(document.getElementById('map'), {
          zoom: 10,
          center: penny_square
        });
        var marker = new google.maps.Marker({
          position: penny_square,
          map: map
        });
      }
    </script>
{% endaddtoblock %}

{% addtoblock "js" %}
<script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDrpzrsXRN92jlsxHxwABrmvljJw6USC9M&callback=initMap">
    </script>
{% endaddtoblock %}

{% endblock content %}