
@import 'bourbon';
@import 'partials/include_media';

$black: #111;
$pink: #f2ddf3;
$pink-dark: #f355b2;
$green: #5dc1a7;
$grey: #f4f4f4;



$bezier1: cubic-bezier(0.850, 0.110, 0.375, 0.880);

.cms {
	font-family:Arial sans-serif;
}


body {
	font-family: 'Abel', sans-serif;

}


.site-content  {

	nav, h1, h2, h3, h4, button {

			font-family: 'Amatic SC', cursive;
			font-weight: bold;
	}

	nav {
		margin-bottom:12rem;

		ul {
			margin: 0;
			li {
				margin:0;
				border:none;
				padding:0;
				display: flex;
				border-radius:0;
				box-shadow:none;
			}
		}
	}





	// ul {
	// 	list-style-type:none;
	// 	padding-left:0;
	// 	margin:3rem 0rem;

	// 	li {
	// 		padding:1.5rem 2rem;
	// 		display: block;
	// 		border:1px solid $grey;
	// 		margin-bottom: 0.6rem;
	// 		box-shadow: 0px 2px 4px rgba(0,0,0,0.24);
	// 		border-radius:2px;
	// 	}
	// }


	label {
		display:block;
		width:100%;
		margin:3rem 0rem 0.5rem;
		font-weight:normal;
	}

	input {
		width:100%;
		padding:1.2rem;
	}

	input[type=radio] {
		width:auto !important;
	}

	button {
		background:$pink;
		color:#000;
		font-size:3rem;
		padding:1.5rem 8rem;
		border:none;
		border-radius:0.4rem;
		margin: 2rem 0rem;

		&:hover {
			background: $pink-dark;
			color:#fff;
		}
	}

	form {
		.help-text {
			font-style: italic;
			font-size:1rem;
		}

		ul {
			li {
				padding:0rem;
				display: block;
				border:none;
				margin-bottom: 0.6rem;
				box-shadow: none;
			}
		}
	}

	p {
		margin-bottom:3rem;
	}

	nav {
		border-bottom:1px solid #ddd;
		margin-bottom:3rem;
		ul {
			display: flex;
			flex-direction: row;
			align-items:center;
			justify-content: space-around;
			padding-left:0;
			margin-bottom: 0;

			@include media("<=desktop") {
				flex-direction: column;
			}

			li {
				display: flex;

				&.selected {
					background: $pink;
					border-radius:0px;
					a {

					}

				}

				a {
					padding:1.6rem 3rem;
					text-decoration: none;
					font-family: 'Amatic SC', cursive;
					font-weight: bold;
					font-size: 3rem;
					

				}
			}
		}
	}

}

#header {
	@include transition(all 0.6s $bezier1);
	#background {
		width: 100%;
		height: 340px;
		background: url(/static/img/header.jpg);
		text-align: center;
		background-size:cover;
		background-repeat: no-repeat;
		background-position: center center;
		@include transition(all 0.6s $bezier1);
		overflow: hidden;

		&.scrolled {
			max-height: 16rem;
			@include transition(all 0.6s $bezier1);

			.title {
				@include transform(scale(0.5));
			}
		}

		.title {
			display: flex;
			align-items:center;
			justify-content: center;
			flex-direction: column;
			height:100%;
			text-shadow: 0px 5px 8px rgba(0,0,0,0.2);
			@include transition(all 0.3s $bezier1);
		}
	}
}

h1 {
	font-weight: bold;
	font-size:9rem;
	font-family: 'Amatic SC', cursive;
}

h2 {
	font-weight:bold;
	font-size:6rem;
	font-family: 'Amatic SC', cursive;
}

h3 {
	font-size:4rem;
	font-weight:bold;
	font-family: 'Amatic SC', cursive;
}

h4 {
	font-family: 'Amatic SC', cursive;
	font-size: 3rem;
	font-weight:bolder;
}

p, a {
	font-size:1.8rem;
	font-weight:normal;
	color:$black;
}

.dish {
	padding:1.5rem 0.4rem;
	margin-bottom:2rem;
	box-shadow:0px 3px 12px rgba(0,0,0,0.11);
	position:relative;
	@include transition(all 0.13s ease);

	&:hover {
		@include transform(scale(1.01));
		.food-image {
			background-size:140%;
		} 
	}

	.food-image {
		width:100%;
		height:200px;
		background-size:100%;
		border:1px solid #ddd;
		background-position:center center;

		@include transition(all 0.7s ease);


	}

	img {
		border:1px solid #ddd;
	}

	h3 {
		margin-top: 0px;
	}

	.promises {
		display: block;
		position:absolute;
		background:$pink;
		border: 4px solid $pink;
		padding:2.2rem 1.8rem;
		border-radius: 50%;
		font-weight: bold;
		color:$black;
		top:1rem;
		right:1rem;
		text-align: center;
		box-shadow: 1px 2px 5px rgba(0,0,0,0.6);

		strong {

		}

		small {
			display: block;
			font-size:12px;
			text-align: center;
		}

		@include transition(background 0.4s $bezier1);
		@include transition(transform 0.2s $bezier1);
		
		&:hover {
			@include transform(scale(1.02));
		}

		&.active {
			background:$pink;
			@include transform(scale(1.1));
			border:2px dashed #fff;

			box-shadow:-1px 2px 7px rgba(0,0,0,0.1);
			color:$black;
		}
	}
}

.modal {
	.modal-dialog {
		.modal-content {
			border-radius:0;
			border:none;

			h4 {
				margin-bottom: 4rem;
				span.dish-name { 
					color:$pink-dark;
					font-weight: bolder;
				}
			}
		}
	}

}


.fade-scale {
  $time: 0.4s;
  transform: scale(0.85);
  opacity: 0;
  -webkit-transition: all $time $bezier1;
  -o-transition: all $time $bezier1;
  transition: all $time $bezier1;
}

.fade-scale.in {
  opacity: 1;
  transform: scale(1);
}

.promise {
	border-radius: 50%;
	font-size: 1rem;
	font-weight: bold;
	padding:0.5rem 0.7rem;;
	box-shadow:1px 1px 3px rgba(0,0,0,0.4);
	display:inline-block;
	text-align:center;

	&.needed {
		background: $pink;
	}

	&.promised {
		background: $green;
		color: #fff;
	}
}

.footer {
	padding: 7rem 0rem;
	text-align:center;
}