{% extends "base.html" %}
{% load cms_tags sekizai_tags bootstrap3 static thumbnail %}

{% block page_head %}
	
{% endblock page_head %}

{% block content %}
	<div class="container">
		<div class="row">
			{% render_model_block dish %}
			<div class="col-md-10 col-md-offset-1">
				<h2>{{object.title}}</h2>

				<div class="row">
					<div class="col-sm-6">
						<img class="img-responsive" src="{% thumbnail dish.image 500x350 upscale crop %}">
					</div>

					<div class="col-sm-6">
						<table class="table">
							<tr>
								<td>Serves</td>
								<td>{{dish.serves}}</td>
							</tr>

							<tr>
								<td>We need</td>
								<td>{{dish.available}}</td>
							</tr>
							<tr>
								<td>From</td>
								<td><a href="{{dish.link}}">{{dish.link}}</a></td>
							</tr>



								

						</table>

						{% if dish.available or dish.num_required == 0 %}
							<a class="btn btn-success promise-button" href="#" data-dish="{{dish.pk}}">
								I'll Make this <span class="glyphicon gliphicon-check"></span>
							</a>
						{% else %}
							We've got enough of these promised already!
						{% endif %}
					</div>
				</div>
				<div class="row">
					<div class="col-xs-12">
					<hr>
						
						<p>
							{{dish.description|safe}}
						</p>
					</div>
				</div>

				<div class="row">
					<div class="col-sm-6">
						<h3>Ingredients</h3>
						{{dish.ingredients|linebreaks}}
					</div>
					<div class="col-sm-6">
						<h3>Method</h3>
						{{dish.method|linebreaks}}
					</div>
				</div>

			</div>
		</div>

		{% endrender_model_block %}

		<div class="row">
			<div class="col-md-10 col-md-offset-1">
				{% if dish.available or dish.num_required == 0 %}
					<a class="btn btn-success promise-button" href="#" data-dish="{{dish.pk}}">
						I'll Make this <span class="glyphicon gliphicon-check"></span>
					</a>
				{% else %}
					<p>We've got enough of these promised already!</p>
				{% endif %}
			</div>
		</div>
	</div>




	{% addtoblock "modals" %}
<!-- Modal -->
<div class="modal fade-scale" id="complete-promise" tabindex="-1" role="dialog" aria-labelledby="complete-promiseLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
<!--       <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="complete-promiseLabel">Thank You! {% bootstrap_icon "heart" %}</h4>
      </div> -->
      <div class="modal-body">
       	<div>
       		<h3>Thanks for volunteering to cook!</h3>
       		<h4>You've chosen <span class="dish-name"></span></h4>
       		<p>We're really grateful for your help. Please enter your name and email address below so that we can send you the recipe. If you'd like to double or even triple-up the recipe, please enter a quantity below ( please enter how many times you can cook the whole dish rather than servings ). {% bootstrap_icon "heart" %}</strong></p>
       		<br>
       		<strong>Thankyou!</strong> Looking forward to seeing you at the end of July!
       		<br>
       		<br>
       	</div>
        <form action="" method="post" class="form" id="update-promise-form">
{#         	<p>Yes, please send me an email with the recipe details.<br><br></p> #}
        	{% csrf_token %}
        	{% bootstrap_form promise_form %}
        	{% buttons %}
        		<button type="submit" name="with-email" id="confirm-with-email" class="btn btn-success">
		            {% bootstrap_icon "star" %} Confirm and send me a reminder email
		        </button>
		        <button type="button" class="btn btn-warning" data-dismiss="modal">I've changed my mind &times;</button>
        	{% endbuttons %}
        </form>
      </div>
      <!-- <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div> -->
    </div>
  </div>
</div>
{% endaddtoblock %}

{% addtoblock 'modals' %}
<div class="modal fade-scale" id="promise-thanks" tabindex="-1" role="dialog" aria-labelledby="complete-promiseLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
		<div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="complete-promiseLabel">Thank You! {% bootstrap_icon "heart" %}</h4>
      	</div>
      <div class="modal-body">
       	<div>
       	 	<p>Just emailing you the details ... bear with us a second</p>
       	</div>
      </div>
    </div>
  </div>
</div>

{% endaddtoblock %}

{% addtoblock "js" %}
	<script type="text/javascript" src="{% static 'django_ajax/js/jquery.ajax.min.js' %}"></script>
{% endaddtoblock %}

{% addtoblock "js" %}
	<script type="text/javascript">
	$(document).ready(function() {

		$('#update-promise-form').on('submit', function (e) {
			var data = {
				"name": $('input#id_name').val(),
				"email": $('input#id_email').val(),
				"dish": $('input#id_dish').val(),
				"quantity": $('input#id_quantity').val()
			}

			url = $('#update-promise-form').attr('action');



			ajaxPost(
				url,
				data,
				function (data) {

					$('#complete-promise').modal('hide');
					$('#promise-thanks').modal('hide');
					$('.promises[data-dish="' + data.dish + '"]')
						.addClass('active')
						.find('strong')
						.text(data.available);
				},
				{
					onBeforeSend: function () {
						$('#complete-promise').modal('hide');
						$('#promise-thanks').modal('show');
					}
				}
			)

			return false;
		});

		$('#confirm-no-email').on('click', function (e) {
			$('input#id_name, input#id_email').removeAttr('required');
			return true;
		});

		$('#confirm-with-email').on('click', function(e) {
			$('input#id_name, input#id_email').attr('required', 'required');
			return true;
		});

		$('.promise-button, .promise.needed').on('click', function (e) {
			var dish_id = $(e.target).data('dish');

			$('#id_dish').val(dish_id);

			ajaxPost(
				'{% url 'promise-dish' %}', 
				{
					'dish':dish_id
				},
				function (data) {
					$('.promises[data-dish="' + dish_id + '"]')
						.addClass('active')
						.find('strong')
						.text(data.count);

					$('#update-promise-form').attr('action', data.confirm_url);
					$('.dish-name').text(data.dish_name);
					$('input#id_dish').val(dish_id);
				}
			);

			$('#complete-promise').modal('toggle');
			return false;
		})

	});
	</script>
{% endaddtoblock %}


{% endblock content %}

